In [15]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in my_list:
    print("num")

num
num
num
num
num
num
num
num
num
num

In [18]:
for even in my_list:
    if even % 2 == 0:
        print(even)
    else:
        print(f'Odd number: {even}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [22]:
Sum_list = 0

for num in my_list:
    Sum_list = Sum_list + num
print(Sum_list)

55

In [25]:
my_string = 'Hello World'

for letter in my_string:
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [27]:
for _ in 'Hello World':
    print('why')

why
why
why
why
why
why
why
why
why
why
why

In [28]:
tup = (1,2,3,4)

for num in tup:
    print(num)

1
2
3
4

tuple unpacking

In [29]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

for num in my_list:
    print(num)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [30]:
for (a,b) in my_list:
    print (a)

1
3
5
7

In [39]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in my_list:
    print (c)

3
6
9

In [42]:
my_dict = {'k1':1,'k2':2,'k3':3}

for values in my_dict:
    print(values)

k1
k2
k3

In [43]:
my_dict = {'k1':1,'k2':2,'k3':3}

for values in my_dict.items():
    print(values)

('k1', 1)
('k2', 2)
('k3', 3)

In [46]:
for key,value in my_dict.items():
    print(value)

1
2
3

In [48]:
for keys in my_dict.keys():
    print(keys)

k1
k2
k3

In [51]:
x = 5 

while x < 10:
    x = x + 1
    print (x)

6
7
8
9
10

In [58]:
x = [1,2,4]

for num in x:
    pass
print('end of Code')

end of Code

In [ ]:
my_string = 'Divine Joseph Appiah'

for alpha in my_string:
    if alpha == 'i':
        continue
    print(alpha)

In [62]:
my_string = 'Divine Joseph Appiah'

for alpha in my_string:
    if alpha == 'J':
        break
    print(alpha)

D
i
v
i
n
e

In [67]:
x = 0

while x < 7:
    if x == 5:
        break
    print (x)
    x += 1

0
1
2
3
4

In [68]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
for even in list(range(10)):
    if even % 2 == 0:
        print(even)

0
2
4
6
8

In [2]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
word = 'abcde'

for letter,index in enumerate(word):
    print(index)
    print(letter)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [10]:
my_list1 = [1,2,3,4,5]
my_list2 = ['a','b','c','d','e']
my_list3 = [100,200,300,400,500]

for num in zip(my_list1,my_list2,my_list3):
    print(num)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [11]:
list(zip(my_list1,my_list2,my_list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [12]:
'b' in [1,2,3]

False

In [13]:
'b' in ['a','b','c']

True

In [14]:
my_list3

[100, 200, 300, 400, 500]

In [15]:
min(my_list3)

100

In [16]:
max(my_list3)

500

In [17]:
from random import shuffle

In [19]:
shuffle(my_list3)

In [20]:
my_list3

[300, 400, 500, 100, 200]

In [21]:
from random import randint

In [22]:
randint(0,100)

42

In [24]:
myint

14

In [29]:
result = input('Please enter phone number: ')

In [31]:
int(result)

13255290889

In [32]:
type(result)

str

In [40]:
mystring = ('Elina Kim')

In [41]:
mystring = [name for name in mystring]

In [42]:
mystring

['E', 'l', 'i', 'n', 'a', ' ', 'K', 'i', 'm']

In [60]:
for num in range (0,11):
        print (num**2)

0
1
4
9
16
25
36
49
64
81
100

In [61]:
mynum = [num**2 for num in range(0,11)]

In [62]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
for x in range(0,10):
    if x%2==0:
        print(x)

0
2
4
6
8

In [64]:
myx = [x for x in range(0,10)if x%2==0]

In [65]:
myx

[0, 2, 4, 6, 8]